
body {
    font-family: Arial, sans-serif;
    background-color: #62d0f1;
}
h1 {
    color: #333;
    margin-top: 20px;
    text-align: center;
}

.input-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
input{
    width: 500px;
    height: 40px;
    font-size:1.25rem;
    border-radius: 0.2em;
    margin: 6px;
    border: none;
}
.addbtn{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    font-size: 2rem;
    background-color: #ec2c3c;
}
button:active{
    background-color: #b33c3a;
    border: #000000 solid 2px;
}
.list-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.todo{
    width: 600px;
    height: 60px;
    display: flex;
    margin-top: 20px;
    border-radius: 0.5em;
    background-color: #fff;
    align-items: center;
    justify-items: center;
    gap: 5px;
}
p{
    font-size: 1.25rem;
    margin-left: 15px;
    flex-grow: 0.99;
}

.tick{
    width: 0.5em;
    height: 0.9em;

}

.delete{
    width: 70px;
    height: 30px;
    border-radius: 0.5em;
    border: none;
    background-color: #ec2c3c;
    font-size: 1em;
    color: #fff;
}
